body {
    margin: 0;
    padding: 0;
}

.navBar {
    display: flex;
    align-items: center;
    background-color: greenyellow;
    justify-content: space-between;
    z-index: 9999;
}

.navBar>img {
    width: 20%;
    padding-left: 15px;
}

.navMenu {
    margin-right: -25em;
}

.navMenu>a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 35px;
}

.navAccount>a>span {
    font-size: 30px;
    padding-right: 25px;
    color: black;
}
